<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Transit Data Access</title>
    <link rel="stylesheet" href="/static/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pako/1.0.10/pako.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" charset="utf-8"></script>
  </head>
  <body>
    <p>MTA train times. Data last updated: <span id='data_timestamp' class='flash_on_update'></span></p>
    <div id='data_display' class='flash_on_update'>
    </div>
    <script type="text/javascript">
      function zero_pad(number, padding) {
        return ("0".repeat(padding) + number).slice(-padding)
      }

      var socket = io.connect('https://' + document.domain + ':' + location.port + '/socketio');

      socket.on('json_push', function(data) {
        $(document).ready(function() {
          $('.flash_on_update').css('background_color', 'yellow');
          window.setTimeout(
            function() {
              $('.flash_on_update').css('background_color','white')
            }, 500
          )
        )};

        var compressed = new Uint8Array();
        compressed = data
        try {
          realtime_data = JSON.parse(pako.inflate(compressed, { to: 'string' }));

          realtime_timestamp = new Date(realtime_data.realtime_timestamp*1000).toLocaleTimeString("en-US")
          document.getElementById('data_timestamp').innerHTML = realtime_timestamp

        } catch (err) {
          console.log(err);
          return
        }

        var date = new Date();
        var current_timestamp = parseInt(date.getTime()/1000);
        new_html = '';

        Object.entries(realtime_data['stops']).forEach(
          ([stop_id, stop]) => {
            new_html += 'Stop: ' + stop['info']['name'] + ', ' + stop['info']['direction'] + '-bound<br>';
            //console.log(stop['arrivals'])
            if('arrivals' in stop) {
              Object.entries(stop['arrivals']).forEach(
                ([route_id, branches]) => {
                  new_html += '&nbsp;&nbsp;Route: ' + route_id + '<br>'
                  Object.entries(branches).forEach(
                    ([branch_id, arrivals]) => {
                      new_html += '&nbsp;&nbsp;&nbsp;&nbsp;Branch: ' + branch_id + '<br>'
                      for (var i = 0; i < arrivals.length && i < 2; i++) {
                        arrival_delta = parseInt(arrivals[i])-current_timestamp
                        new_html += '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Arrival: ' + zero_pad(parseInt(arrival_delta/60), 2) + ':' + zero_pad(arrival_delta%60, 2) + '<br>'
                      }
                    }
                  );
                  new_html += '<br>'
                }
              );
            } else {
              new_html += '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No arrivals<br><br>'
            }
          }
        );
        document.getElementById('data_display').innerHTML = new_html
      });
    </script>
  </body>
</html>
