@import "variables.scss";

html, body {
  height: 100%;
}

h6, h5 {
  margin: 0;
  font-weight: 400;
}
code {
  margin: 0 0 1rem 0;
  display: block;
  font-size: 0.8rem;
  width: min-content;
}
h3 {
  font-size: 2rem;
}

.container {
  min-width: 300px;
  margin-bottom: 3rem;
  padding: 0 1rem;
  width: 100%;
}

.text-left {
  text-align: left; 
}
.text-center {
  text-align: center; 
}
.text-right {
  text-align: right; 
}

.header {
  position: relative;
  color: $brightWhite;
}
.header .absolute-left, .absolute-right {
  top: 0.3rem;
}
.header h3 {
  font-size: 3rem;
}
.header h6 {
  font-size: 1.2rem;
  padding-top: .3rem;
}
.absolute-left {
  position: absolute;
  left: 0;
}
.absolute-right {
  position: absolute;
  right: 0;
}
.title {
  color: $brightWhite;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 4rem auto 0 auto;
  text-align: center;
}

#header-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 3rem;
  z-index: -1;
  background-color: $primaryDark;
}
// #background {
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   width: 100%;
//   height: 100%;
//   z-index: -2;
//   background-color: $primaryMid;
// }
body {
  background-color: $primaryMid;
}

.connected {
  color: $goodGreen;
}
.disconnected {
  color: $badRed;
}

.flash-on {
  color: $secondaryLight;
  -webkit-transition: all 250ms cubic-bezier(0.420, 0.000, 1.000, 1.000);
     -moz-transition: all 250ms cubic-bezier(0.420, 0.000, 1.000, 1.000);
       -o-transition: all 250ms cubic-bezier(0.420, 0.000, 1.000, 1.000);
          transition: all 250ms cubic-bezier(0.420, 0.000, 1.000, 1.000); /* ease-in */
}
.flash-off {
  color: inherit;
  -webkit-transition: all 250ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
     -moz-transition: all 250ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
       -o-transition: all 250ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
          transition: all 250ms cubic-bezier(0.000, 0.000, 0.580, 1.000); /* ease-out */
}


.data {
  width: 100%;
  margin: 9rem auto 0 auto;
}
.data h6 {
  font-size: 1.1rem;
}


.arrival-view-options {
  max-width: 26rem;
  margin: 0 auto 2rem auto;
}
.arrival-view-options button {
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  line-height: 1.8rem;
  height: auto;
  border-radius: 10%;
  background: $primaryMidLight;
  border-color: $primaryMidLight;
  color: $brightWhite;
}
.arrival-view-options button:hover {
  border-color: $primaryLight;
  background: $primaryLight;
}
.arrival-view-options .selected {
  border-color: $primaryLight;
  background: $primaryLight;
}
/*.arrival-view-options .selected:hover {
  border-color: $primaryMidLight;
  background: $primaryMidLight;
}*/

.arrivals-by-station-header {
  background-color: $primaryLight;
  color: $brightWhite;
  border-radius: 1rem;
  padding: 1rem;
}
.arrivals-by-station input {
  font-size: 1.6rem;
  border: 0.1rem solid $lightBackground;
  background-color: $lightBackground;
  border-radius: 1rem;
  margin: 1rem 0 0 0;
  padding: 1rem;
  color: $midGrey;
}
.arrivals-by-station .station {
  padding: 1.2rem 0.8rem;
  margin: 2rem 1rem 0 1rem;
  border: 0.1rem solid $lightBackground;
  background-color: $lightBackground;
  border-radius: 1rem;
  box-sizing: border-box;
}

.arrivals-by-station .station .station-header {
  font-weight: 500;
  border-bottom: 0.2rem solid $darkGrey;
  margin-bottom: 0.5rem;
  margin-top: -0.5rem;
  padding-bottom: 0.5rem;
}
.station-arrivals {
  border-bottom: 0.1rem solid $lightGrey;
  padding: 0.8rem 0;
}
.station-route-name-outer {
  display: inline-block;
  width: $routeNameWidth;
  vertical-align: top;
  padding: 0.3rem 0;
}

.route-circle {
  position: relative;
  width: $routeCircleDiameter;
  height: $routeCircleDiameter;
  line-height: $routeCircleDiameter;
  font-size: $routeCircleDiameter * 2 / 3;
  font-weight: 400;
  border: none;
  border-radius: 50%;
  padding: 0;
  margin: 0.5rem $routeIconRightMargin 0.5rem 0;
}
.route-circle:hover {
  width: $routeCircleDiameter * 1.2;
  height: $routeCircleDiameter * 1.2;
  line-height: $routeCircleDiameter * 1.2;
  margin-left: $routeCircleDiameter * -0.1;
  margin-top: $routeCircleDiameter * -0.1;
  margin-bottom: 1rem - ($routeCircleDiameter * 0.2);
  margin-right: $routeIconRightMargin - ($routeCircleDiameter * 0.1);
  font-size: $routeCircleDiameter * 2 / 3 * 1.2;
  z-index: 0;
}
.selected-route-circle::after {
  position: absolute;
  content: '';
  width: $routeCircleDiameter * 1.2;
  height: $routeCircleDiameter * 1.2;
  margin-left: $routeCircleDiameter * -0.1;
  margin-top: $routeCircleDiameter * -0.1;
  margin-bottom: 1rem - ($routeCircleDiameter * 0.2);
  margin-right: $routeIconRightMargin - ($routeCircleDiameter * 0.1);
  background-color: $lightGrey;
  border-radius: 50%;
  padding: 0;
  top: 0;
  left: 0;
  z-index: 0;
}
.selected-route-circle:hover::after {
  display: none;
}

.route-diamond-outer {
  background-color: transparent;
  width: $routeCircleDiameter;
  height: $routeCircleDiameter;
  line-height: $routeCircleDiameter;
  font-size: $routeCircleDiameter * 2 / 3;
  font-weight: 400;
  border: none;
  padding: 0;
  position: relative;
  overflow: visible;
  z-index: 1;
  margin: 0.5rem $routeIconRightMargin 0.5rem 0;
}
.route-diamond-inner {
  z-index: -1;
  height: $routeDiamondLength;
  width: $routeDiamondLength;
  top: $routeDiamondLength / 6.5;
  left: $routeDiamondLength / 6.5;
  position: absolute;
  content: '';
  transform: rotate(45deg);
}
.route-diamond-outer:hover {
  width: $routeCircleDiameter * 1.2;
  height: $routeCircleDiameter * 1.2;
  line-height: $routeCircleDiameter * 1.2;
  font-size: $routeCircleDiameter * 2 / 3 * 1.2;

  margin-left: $routeCircleDiameter * -0.1;
  margin-top: $routeCircleDiameter * -0.1;
  margin-right: $routeIconRightMargin - $routeCircleDiameter * 0.1;
  margin-bottom: 1rem - ($routeCircleDiameter * 0.2);
}
.route-diamond-outer:hover .route-diamond-inner {
  height: $routeDiamondLength * 1.2;
  width: $routeDiamondLength * 1.2;
  top: $routeDiamondLength / 6.5;
  left: $routeDiamondLength / 6.5;
}


.station-route-arrivals {
  font-weight: 300;
  float: right;
  min-width: $arrivalsWidth;
}
.station .arrival-time {
  font-size: 1.3rem;
  margin: 0;
  width: $arrivalTimeWidth;
  margin-left: $arrivalTimeLeftMargin;
  display: inline-block;
  float: left;
}

.station-name-and-borough{
  display: inline-block;
  overflow-wrap: break-word;
  width: -webkit-calc(100% - #{$stationLabelSubtractor)});
  width:    -moz-calc(100% - #{$stationLabelSubtractor)});
  width:         calc(100% - #{$stationLabelSubtractor)});
  max-width: 40rem;
  line-height: 1.6rem;
  font-size: 1.2rem;
}
.station-name-and-borough .final-station-name {
  margin: 0;
}
.station-name-and-borough .borough-label {
  font-size: inherit;
  margin: 0;
}
.station-name {
  /*margin-right: 0.4rem;*/
  font-weight: 500;
  font-size: 1.8rem;
}


.arrivals-by-route-header {
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
  overflow: hidden;
  background-color: $primaryLight;
}
.arrivals-by-route-header h5 {
  color: $brightWhite;
}
// .arrivals-by-route-header .route-name {
//   padding: 0.2rem 0.6rem 2rem 0.6rem;
//   border: none;
//   font-size: 1.6rem;
//   line-height: 1.8rem;
//   height: 1.8rem;
//   margin: 0.1rem;
//   border-radius: 100%;
// }

.route-names-and-final-stations {
  border-radius: 1rem;
  margin: 1rem 0 0 0rem;
  background-color: $brightWhite;
  padding: 1rem;
}
.route-name {
  display: inline;
}

.route-final-stations {
  margin-top: 1rem;
  font-size: 1.3rem;
  font-weight: 300;
}
.route-final-stations .route-final-station {
  font-size: 1.2rem;
  font-weight: 400;
  display: block;
  text-transform: initial;
  border: none;
  border-radius: 1rem;
  background-color: transparent;
  padding: 0.4rem;
  margin: 0 0 0.2rem -0.4rem;
  line-height: 1rem;
  height: 2.2rem;
}
.final-station-name {
  margin-right: 0.6rem;
}
.route-final-stations button.route-final-station:hover {
  background-color: $lightestGrey;
}
.route-final-stations .selected {
  background-color: $lightGrey;
}
.route-final-stations button.selected:hover {
  background-color: $lightGrey;
}

.route-stations {
  background-color: $lightBackground;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
  font-size: 1.3rem;
}

.route-station {
  font-weight: 400;
  min-height: 3rem;
  overflow: hidden;
  border-bottom: 0.1rem solid $lightGrey;
  padding: 0.3rem 0;
}
.route-station .empty {
  font-style: italic;
  font-weight: 100;
}
.route-station-name-outer {
  display: inline-block; 
  width: -webkit-calc(100% - #{$stationLabelSubtractor)} + #{$routeNameWidth)} );
  width:    -moz-calc(100% - #{$stationLabelSubtractor)} + #{$routeNameWidth)} );
  width:         calc(100% - #{$stationLabelSubtractor)} + #{$routeNameWidth)} );
  max-width: 40rem;
}
.route-station-name {
  margin-right: 0.4rem;
  font-weight: 500;
}
.route-station .arrival-times {
  float: right;
  min-width: $arrivalsWidth;
}
.arrival-time {
  display: inline-block;
  width: $arrivalTimeWidth;
  margin: 0;
  margin-left: $arrivalTimeLeftMargin;
  font-weight: 300;
}
.arrival-time.very-soon {
  font-weight: 400;
  color: $goodGreen;
}
.arrival-time.soon {
  font-weight: 400;
  color: $primaryMidLight;
}
.arrival-time.updated {
  color: $secondaryLight;
  -webkit-transition: all 250ms cubic-bezier(0.420, 0.000, 1.000, 1.000);
     -moz-transition: all 250ms cubic-bezier(0.420, 0.000, 1.000, 1.000);
       -o-transition: all 250ms cubic-bezier(0.420, 0.000, 1.000, 1.000);
          transition: all 250ms cubic-bezier(0.420, 0.000, 1.000, 1.000); /* ease-in */
}
.arrival-time {
  color: inherit;
  -webkit-transition: all 250ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
     -moz-transition: all 250ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
       -o-transition: all 250ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
          transition: all 250ms cubic-bezier(0.000, 0.000, 0.580, 1.000); /* ease-out */
}


.show-more {
  width: 14rem;
  margin: 2rem auto;
  font-size: 1.3rem;
  font-weight: 400;
  color: $brightWhite;
}
.show-more:hover {
  cursor: pointer;
  color: $secondaryLight;
}

.borough-label {
  margin: 0 0.2rem;
  font-size: 1.1rem;
  font-weight: 400;
  text-transform: uppercase;
  color: $primaryMidDark;
}


.small-dot {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  display: inline-block;
  vertical-align: baseline;
  margin: 0.3rem 0.5rem;
}



/* ~~~~~~~~~~~~~~~~~~~~~~~~ */
/* FOR LARGE PHONES AND UP  */
/* ~~~~~~~~~~~~~~~~~~~~~~~~ */
@media (min-width: 550px) {
  code {
    font-size: 1rem;
  }
  .header h3 {
    font-size: 4rem;
  }
  h5 {
    font-size: 3rem;
  }
  .header h6 {
    font-size: 1.4rem;
    padding-top: 0;
  }

  .title {
    margin: 5rem auto 0 auto;
  }
  .data {
    width: 88%;
    margin: 12rem auto 0 auto;
  }
  .data h6 {
    font-size: 1.4rem;
  }
  .data .arrival-view-options {
    margin: 0 auto 3rem auto;
  }
  .data .route-name {
    padding: 0.2rem 0.8rem 3.3rem 0.8rem;
    font-size: 2.4rem;
    line-height: 3rem;
    height: 3rem;
  }
  .route-final-stations .route-final-station {
    font-size: 1.3rem;
    padding: 0.5rem;
    height: 2.6rem;
  }
  .route-stations {
    font-size: 1.5rem;
  }
  .arrivals-by-station input {
    font-size: 1.8rem;
  }
  .station-branch {
    font-size: 1.6rem;
  }
  .station .arrival-time {
    font-size: 1.6rem;
  }
  .arrivals-by-station .station {
    padding: 1.2rem;
  }
  .show-more {
    font-size: 1.5rem;
  }


  .station-route-name-outer {
    width: $routeNameWidthMEDIUM;
  }
  .station-route-arrivals {
    min-width: $arrivalsWidthMEDIUM;
  }
  .station .arrival-time {
    width: $arrivalTimeWidthMEDIUM;
    margin-left: $arrivalTimeLeftMarginMEDIUM;
  }
  .station-name-and-borough{
    width: -webkit-calc(100% - #{$stationLabelSubtractorMEDIUM)});
    width:    -moz-calc(100% - #{$stationLabelSubtractorMEDIUM)});
    width:         calc(100% - #{$stationLabelSubtractorMEDIUM)});
    font-size: 1.5rem;
  }


  .route-station-name-outer {
    width: -webkit-calc(100% - #{$stationLabelSubtractorMEDIUM)} + #{$routeNameWidthMEDIUM)} );
    width:    -moz-calc(100% - #{$stationLabelSubtractorMEDIUM)} + #{$routeNameWidthMEDIUM)} );
    width:         calc(100% - #{$stationLabelSubtractorMEDIUM)} + #{$routeNameWidthMEDIUM)} );
  }
  .route-station .arrival-times {
    min-width: $arrivalsWidthMEDIUM;
  }
  .arrival-time {
    width: $arrivalTimeWidthMEDIUM;
    margin-left: $arrivalTimeLeftMarginMEDIUM;
  }


}


/* ~~~~~~~~~~~~~~~~~~~ */
/* FOR TABLETS AND UP  */
/* ~~~~~~~~~~~~~~~~~~~ */
@media (min-width: 900px) {
  .data {
    width: 75%;
  }
}