@import "variables.scss";

.arrivals-by-station-header {
  background-color: $primaryLight;
  color: $brightWhite;
  border-radius: 1rem;
  padding: 1rem;
}
.arrivals-by-station input {
  font-size: 1.6rem;
  border: 0.1rem solid $lightBackground;
  background-color: $lightBackground;
  border-radius: 1rem;
  margin: 1rem 0 0 0;
  padding: 1rem;
  color: $midGrey;
}
.arrivals-by-station .station {
  padding: 1.2rem 0.8rem;
  margin: 2rem 1rem 0 1rem;
  background-color: $lightBackground;
  border-radius: 1rem;
  box-sizing: border-box;
}

.arrivals-by-station .station .station-header {
  font-weight: 500;
  border-bottom: 0.2rem solid $darkGrey;
  margin-bottom: 0.5rem;
  margin-top: -0.5rem;
  padding-bottom: 0.5rem;
}
.station-name {
  font-weight: 500;
  font-size: 1.8rem;
  text-align: center;
  display: block;
}
.station-arrivals {
  border-bottom: 0.1rem solid $lightGrey;
  padding: 0.4rem 0;
}
.station-arrivals:last-of-type {
  border: none;
}
.station-branches-for-route {
  margin: 0.5rem 0;
}
.station-branches-for-route:not(:last-of-type) {
  margin-bottom: 2rem;
  border-bottom: 0.1rem solid $lightGrey;
}
.station-arrivals-direction-title {
  font-size: 1.6rem;
  text-align: center;
  width: 10rem;
  margin: 0 auto 0;
  border-bottom: 0.1rem solid $darkGrey;
}
.station-route-name-outer {
  width: $routeNameWidth;
  vertical-align: top;
  padding: 0.3rem 0;
}

.station-route-arrivals {
  font-weight: 300;
  float: right;
  min-width: $arrivalsWidth;
  margin-top: 1rem;
}
.station .arrival-time {
  font-size: 1.3rem;
  margin: 0;
  width: $arrivalTimeWidth;
  margin-left: $arrivalTimeLeftMargin;
  display: inline-block;
  float: left;
}

.station-name-and-borough{
  display: inline-block;
  vertical-align: top;
  overflow-wrap: break-word;
  width: -webkit-calc(100% - #{$stationLabelSubtractor)});
  width:    -moz-calc(100% - #{$stationLabelSubtractor)});
  width:         calc(100% - #{$stationLabelSubtractor)});
  max-width: 40rem;
  line-height: 1.6rem;
  font-size: 1.2rem;
  vertical-align: top;
  margin-top: 0.5rem;
}
.station-name-and-borough .final-station-name,
.station-name-and-borough .borough-label {
  display: block;
  margin: 0;
}

.station-name-and-borough .borough-label {
  font-size: inherit;
}


.show-more {
  width: 14rem;
  margin: 2rem auto;
  font-size: 1.3rem;
  font-weight: 400;
  color: $brightWhite;
}
.show-more:hover {
  cursor: pointer;
  color: $secondaryLight;
}


@media (min-width: 550px) {
  .arrivals-by-station input {
    font-size: 1.8rem;
  }
  .arrivals-by-station .station {
    padding: 1.2rem;
  }
  .station-name {
    font-size: 2.2rem;
  }
  .station-arrivals-direction-title {
    font-size: 2rem;
    width: 12rem;
  }
  .station .arrival-time {
    font-size: 1.6rem;
  }
  .show-more {
    font-size: 1.5rem;
  }

  .station-route-name-outer {
    width: $routeNameWidthMEDIUM;
  }
  .station-route-arrivals {
    min-width: $arrivalsWidthMEDIUM;
  }
  .station .arrival-time {
    width: $arrivalTimeWidthMEDIUM;
    margin-left: $arrivalTimeLeftMarginMEDIUM;
  }
  .station-name-and-borough{
    width: -webkit-calc(100% - #{$stationLabelSubtractorMEDIUM)});
    width:    -moz-calc(100% - #{$stationLabelSubtractorMEDIUM)});
    width:         calc(100% - #{$stationLabelSubtractorMEDIUM)});
  }
}