/* /// COLORS /// */

/*** MAIN ***/
$primaryLight: #0153EA;
$primaryMidLight: #003CA9;
$primaryMid: #003089;
$primaryMidDark: #00266C;
$primaryDark: #001B4B;

$secondaryLight: #FCFF00;
$secondaryMidLight: #FBFE00;
$secondaryMid: #CBCE00;
$secondaryMidDark: #A0A200;
$secondaryDark: #707100;


/*** BASIC FONT / BG ***/
$brightWhite: #fff;
$lightestGrey: #eee;
$lightGrey: #ccc;
$midGrey: #848484;
$darkGrey: #666;
$darkestGrey: #222;

$lightBackground: #fff;
$darkBackground: #222;

/*** INDICATORS ***/
$goodGreen: #0cac0c;
$badRed: #df0b0b;


/* /// DIMENSIONS /// */
$routeIconScale: 1.25;
$routeCircleDiameter: 2.6rem;
$selectedRouteBorderWidth: 0.3rem;
$selectedRouteBorderWidthInner: 0.1rem;
$circleToDiamondRatio: 1.2;
$routeDiamondLength: $routeCircleDiameter / 1.41 * $circleToDiamondRatio;
$routeIconMargin: $selectedRouteBorderWidth*2 + $routeCircleDiameter * ($routeIconScale - 1) + 0.1rem;

$routeCircleDiameterMEDIUM: 3.6rem;
$routeDiamondLengthMEDIUM: $routeCircleDiameterMEDIUM / 1.41 * $circleToDiamondRatio;
$routeIconMarginMEDIUM: $selectedRouteBorderWidth*2 + $routeCircleDiameterMEDIUM * ($routeIconScale - 1) + 0.1rem;


$routeNameWidth: $routeCircleDiameter * 1.6;
$arrivalTimeWidth: 4rem;
$arrivalTimeLeftMargin: $arrivalTimeWidth / 4.5;
$arrivalsWidth: ($arrivalTimeWidth + $arrivalTimeLeftMargin) * 3 + 0.1rem; // 0.1rem for rounding errors
$stationLabelSubtractor: $arrivalsWidth + $routeNameWidth;

$routeNameWidthMEDIUM: $routeCircleDiameterMEDIUM * 1.6;
$arrivalTimeWidthMEDIUM: 5rem;
$arrivalTimeLeftMarginMEDIUM: $arrivalTimeWidthMEDIUM / 4.5;
$arrivalsWidthMEDIUM: ($arrivalTimeWidthMEDIUM + $arrivalTimeLeftMarginMEDIUM) * 3 + 0.1rem; // 0.1rem for rounding errors
$stationLabelSubtractorMEDIUM: $arrivalsWidthMEDIUM + $routeNameWidthMEDIUM;
